.Home-blue{
    background-color: royalblue;
}
.Home-commentsBlock {
    width: 100vw;
    height: 300px;
}
.Home-animation {
    margin-top: 10%;
    width: 30vw;
    height: 35vh;
}
/* .svg{
    g{
        #middle{

        }
    }

    }
} */