.NavBar-linkContainer {
    /* margin-left: var(--l); */
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #8ECAE6; */
}
.NavBar-logo {
    letter-spacing: 3px;
    margin-left: var(--l);
}
.home-link {
    display: block;
    margin: 10px;
    left: 0px;
    font-size: 25px;
    color: #02283B;
    text-decoration: none;
}

.NavBar-searchBar {
    /* margin-left: var(--l); */
    margin: 5px 20px 10px 20px;
    width: 100%;
    opacity: 1;
}
.NavBar-background {
    background-color:'#8ECAE6';
}
.NavBar-login {
    letter-spacing: 3px;
    border-bottom-color: 'transparent';
    margin-right: var(--l);
}

