.App-gradient {
    background-image: linear-gradient(red, yellow);
    /* background-color: #282c34; */
    /* color: white; */
    /* padding: 40px;
    font-family: Arial;
    text-align: center; */
  }